body {
  font-family: "Jost", sans-serif;
  margin: 0;
  height: 100vh;
  background-color: rgba(156, 95, 109, 0.2196078431);
  color: #000000;
  display: flex;
  flex-direction: column;
}

*:first-letter {
  text-transform: capitalize;
}

.roundBorder {
  border-radius: 0.5rem;
}

.list {
  margin: 25px auto;
  padding: 20px;
  max-width: 80vw;
  border: solid 0.1rem;
  background-color: #ffffff;
  box-shadow: 9px 12px 35px 2px rgba(0, 0, 0, 0.72);
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.titulo h1 {
  color: #000000;
  text-align: center;
  padding: 10px;
  border-radius: 0.5rem;
}
.titulo a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border: solid 0.1rem;
  border-radius: 0.5rem;
}
.titulo a:hover {
  color: #ffffff;
  background-color: #000000;
  transition-duration: 1s;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dateRight {
  display: flex;
  align-items: center;
}

#dateNumber {
  font-size: 3rem;
}

#dateText {
  letter-spacing: 3px;
  font-size: 1rem;
  text-transform: uppercase;
}

#dateMonth, #dateNumber, #dateText {
  font-weight: bold;
}

#dateMonth, #dateYear {
  margin-left: 5px;
  font-size: 1.5rem;
}

form {
  margin: 2px 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 120px 50px auto;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

input {
  border: solid 2px #9c5f6d;
  padding: 10px;
  background-color: #ffffff;
}
input:focus {
  outline: none;
}

.addTaskButton, .orderButton {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.addTaskButton {
  height: 35px;
  border-radius: 0.5rem;
  font-size: 2rem;
  background-color: #ffffff;
}

.orderButton {
  background-color: #000000;
  color: #ffffff;
}

.task {
  background-color: #9c5f6d;
  padding: 15px;
  margin-top: 15px;
  color: #ffffff;
  cursor: pointer;
}

.done {
  background-color: #487455;
  color: #ffffff;
  text-decoration: line-through;
}

@media only screen and (min-width: 1024px) {
  body {
    margin: 0;
    height: 100vh;
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .list {
    margin: 25px auto;
    padding: 25px;
    width: 100%;
    max-width: 350px;
    border: solid 0.1rem;
  }
  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
  }
  #dateText {
    letter-spacing: 3px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 50px auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}