$font:'Jost', sans-serif;
$verde:#487455;
$negro: #000000;
$bordo:#9c5f6d;
$bordofondo:#9c5f6d38;
$blanco: #ffffff;

body{
    font-family: $font;
    margin: 0;
    height: 100vh;
    background-color: $bordofondo;
    color: $negro;
    display: flex;
    flex-direction: column;

}
*:first-letter{
    text-transform: capitalize;
}
.roundBorder{
    border-radius: .5rem;

}
.list{
    margin:25px auto;
    padding: 20px;
    max-width: 80vw;
    border: solid .1rem;
    background-color: $blanco;
    box-shadow: 9px 12px 35px 2px rgba(0,0,0,0.72);
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    h1{
        color: $negro;
        text-align: center;
        padding: 10px;
        border-radius: 00.5rem;

    }
    a{

        color: $negro;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        border: solid .1rem;
        border-radius: .5rem;

        &:hover{
            color: $blanco;
            background-color: $negro;
            transition-duration: 1s;
        }
    }
}
.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dateRight{
    display: flex;
    align-items: center;
}
#dateNumber{
    font-size: 3rem;
}
#dateText{
    letter-spacing: 3px;
    font-size: 1rem;
    text-transform: uppercase;

}
#dateMonth, #dateNumber, #dateText{
    font-weight: bold;
}
#dateMonth, #dateYear{
    margin-left: 5px;
    font-size: 1.5rem;
}

form{
    margin: 2px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 120px 50px auto;
    column-gap: 5px;
}
input{
    border: solid 2px $bordo;
    padding: 10px;
    background-color: $blanco;

    &:focus{
        outline: none;
    }
}

.addTaskButton, .orderButton{
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.addTaskButton{
    height: 35px;
    border-radius: 0.5rem;
    font-size: 2rem;
    background-color: $blanco;
}
.orderButton{
    background-color: $negro;
    color: $blanco;
}
.task{
    background-color: $bordo;
    padding: 15px;
    margin-top: 15px;
    color: $blanco;
    cursor: pointer;
}
.done{
    background-color: $verde;
    color: $blanco;
    text-decoration: line-through;
}

@media only screen and (min-width: 1024px){
    @import "desktop";
}